/****** General ***********/

/* Réinitialisation des marges, des rembourrages et de la taille de police */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    box-sizing: border-box;

}

/* Définition de la taille de police de base pour le document */
html {
    font-size: 62.5%
}

/* Variables CSS personnalisées */
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --text-color: #000;
}


/* Styles pour les icônes FontAwesome solides */
.fa-solid {
    color: var(--main-color);
}


/* Styles pour le corps du document */
body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
    font-weight: 300;

}



/* Conteneur principal avec largeur maximale */
.main-container {
    width: 100%;
    max-width: 144rem;
    padding: 0 5rem;
    box-sizing: border-box;
}


/* Styles pour les liens */
a {
    color: inherit;
    text-decoration: none;
}

/* Styles pour les images */
img {
    max-width: 100%;
    height: auto;
}


/* Styles pour les titres de section */
.section-title {
    margin: 0;
    font-size: 2.2rem;
}

/* Styles pour les cartes */
.card {
    background-color: white;
    border-radius: 2rem;
    padding: .5rem;
    filter: drop-shadow(0 .3rem 1.5rem rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}


/* Styles pour les titres de carte */
.card-title {
    font-size: 1.6rem;
}

/* Styles pour les éléments avec la classe "euro" */
.euro {
    font-weight: 700;
}


/* Étoile neutre avec fond personnalisé */
.neutral-star {
    color: var(--main-bg-color)
}




/************HEADER*************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo de l'en-tête */
.header__logo-img {
    width: 6.1rem;
    height: 1.9rem;
}

/* Boîte de navigation de l'en-tête */
.header_navbox {
    width: 100%;
}

/* Éléments de navigation de l'en-tête */
.header-items {
    display: flex;
    gap: 6.8rem;
    list-style: none;
}

/* Élément de navigation de l'en-tête */
.header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Liens de l'en-tête */
.header-links {
    padding: 2.4rem 0;
}


/* ********HERO******** */
/* Section héro avec contenu principal */
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
}

/* Titre du héro */
.hero-title {
    font-size: 2.2rem;
    font-weight: 700;
}


/* Sous-titre du héro */
.hero-subtitle {
    font-weight: 400;
}

/*********** BARRE DE RECHERCHE *************/

/* Barre de recherche avec icône de localisation */
.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.5rem;
}

/* Conteneur de la barre de recherche */
.search-bar-container {
    position: relative;
    display: flex;
}

/* Conteneur de l'icône de localisation */
.location-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    flex-shrink: 0;
    padding: 1rem;
    background-color: var(--main-bg-color);
    border-radius: 0.9375rem 0 0 0.9375rem;
}

/* Icône de localisation */
.fa-location-dot {
    color: var(--text-color);
}

/* Champ de texte de la barre de recherche */
.search-bar-container input {
    border: 1px solid var(--main-bg-color);
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.8rem;
    outline: none;
    padding-left: 1rem;
    width: 100%;
}

/* Placeholder du champ de texte de la barre de recherche */
.search-bar-container input::placeholder {
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.8rem;
}

/* Bouton de recherche */
.btn-search-bar {
    padding: 1rem;
    background-color: var(--main-color);
    border-radius: 0rem 0.9375rem 0.9375rem 0rem;
    border: 1px solid var(--main-color);
    font-weight: 400;
    font-size: 1.8rem;
    cursor: pointer;
}

/* Icône de loupe dans le bouton de recherche */
.fa-magnifying-glass {
    padding: 1rem;
    display: none;
}

/* Texte du bouton de recherche */
.btn-recherche {
    color: white;
    font-weight: 700;
}


/********FILTRES******/
/* Section des filtres */
.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.5rem;
    gap: 2rem;
}

/* Titre de la section des filtres */
.filters-title {
    font-size: 2.2rem;
    font-weight: 700;
}

/* Éléments de filtre */
.filters-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 2.2rem;
    gap: 2rem;
}

/* Élément de filtre */
.filters-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    overflow: hidden;
    padding: 1rem;
    font-weight: 700;
}

/* Style au survol ou lors du clic sur un élément de filtre */
.filters-item:hover,
.filters-item:active {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}



/*******INFO********/
.infos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 3.5rem;
}

/* Icône d'information */
.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

/* Paragraphes d'informations */
.infos p {
    font-size: 1.6rem;
    font-weight: 400;
}

/* Icône FontAwesome pour l'information */
.fa-info {
    border: 1px solid #d9d9d9;
        border-radius: 50%;
        width:2.4rem;
        height: 2.4rem;
        text-align: center;
        box-sizing: border-box;
        padding:.3rem;
}


/****** Hebergements And Populaires ***********/
/* Mise en page en flex pour la section Hébergements Et Populaires */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

/* Style pour les sections à l'intérieur de Hébergements Et Populaires */
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 2rem;
    padding: 3rem;
    box-sizing: border-box;
}

/****** Hebergements ***********/
/* Mise en page en flex pour la section Hébergements */
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: flex-start;
    gap: 3rem;
}

/* Mise en page en flex pour les cartes à l'intérieur de Hébergements */
.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: stretch;
}

/* Style pour le titre de la section Hébergements et le bouton "Afficher plus" */
.hebergements-title,
.btn-aficher {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style pour le titre de la section Hébergements */
.hebergements-title h2 {
    font-size: 2.2rem;
    font-weight: 700;
}

/* Style pour le texte du bouton "Afficher plus" */
.btn-aficher h3 {
    font-weight: 700;
    font-size: 1.8rem;
}

/* Style pour les liens à l'intérieur des cartes Hébergements */
.hebergements-cards a {
    flex: 0 0 calc(33.3333% - 2rem);
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card {
    height: 100%;
}

/* Style pour les images des cartes Hébergements */
.hebergements-cards img {
    width: 100%;
    height: 12.4rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* Style pour le contenu des cartes Hébergements */
.hebergements .card-content {
    padding: 0 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Style pour les titres des cartes Hébergements */
.hebergements .card-title {
    margin-top: .4rem;
    margin-bottom: .8rem;
    font-weight: 700;
}


/* Style pour les sous-titres des cartes Hébergements */
.hebergements .card-subtitle {
    margin: 0 0 .8rem 0;
}

/* Style pour les notations des cartes Hébergements */
.hebergements .card-rating {
    /* padding-bottom: .5rem; */
    align-items: center;
    justify-content: center;
}


/****** Populaires ***********/
/* Style pour la section Populaires */
.populaires {
    width: 32%;
}

/* Style pour le titre de la section Populaires et les cartes */
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style pour la mise en page des cartes à l'intérieur de Populaires */
.populaires-cards .card {
    display: flex;
    margin-top: 3.3rem;
}

/* Style pour les images des cartes Populaires */
.populaires-cards img {
    width: 33%;
    height: 13.6rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

/* Style pour le contenu des cartes Populaires */
.populaires-cards .card-content {
    width: 67%;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/* Style pour les titres des cartes Populaires */
.populaires-cards .card-title {
    margin-top: 1rem;
    margin-bottom: .4rem;
}

/* Style pour les sous-titres des cartes Populaires */
.populaires-cards .card-subtitle {
    margin: 0;
}

/* Style pour les notations des cartes Populaires */
.populaires-cards .card-rating {
    margin-bottom: .5rem;
}



/*******ACTIVITES*********/

/* Mise en page en flex pour la section Activités */
.activites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    gap: 3rem;
}

/* Mise en page en flex pour les cartes à l'intérieur d'Activités */
.activites-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

}

/* Style pour le titre de la section Activités */
.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style pour le titre de la section Activités */
.activites-title h2 {
    font-size: 2.2rem;
    font-weight: 700;
}


.activites-cards .card {
    height: 100%;
    padding: 0;
}

/* Style pour les liens à l'intérieur des cartes Activités */
.activites-cards a {
    width: calc(25% - 3rem);
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* Style pour les images des cartes Activités */
.activites-cards .card img {
    width: 100%;
    height: 38rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* Style pour le contenu des cartes Activités */
.activites-cards .card-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2.25rem 1.9rem;
}

/* Style pour les titres des cartes Activités */
.activites-cards .card-title {
    font-weight: 700;
}



/********FOOTER***************/
/* Style pour la section Pied de page */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--main-bg-color);
    padding: 2rem;
    margin-top: 3.5rem;
}

/* Style pour la boîte de menu du Footer */
.footer-menu-box {
    width: 100%;
    display: flex;
    gap: 3.125rem;
    justify-content: center;
    align-items: flex-start;
}

/* Style pour les catégories du Footer */
.footer-category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

/* Style pour le titre de catégorie du Footer */
.category-title {
    font-weight: 700;
    font-size: 1.8rem;
}

/* Style pour les options de catégorie du Footer */
.category-options {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

/* Style pour les liens de catégorie du Footer */
.cat-options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cat-link {
    font-weight: 400;
}

/* Style pour les liens de catégorie du Pied de page au survol */
.cat-link:hover {
    color: var(--main-color);
}


/****** Media queries ***********/
/* Média query pour les appareils plus grands */
@media (min-width:64.0625em) {
    .main-container {
        margin-bottom: 3.78em;
    }
}


/* toutes devices hors portables */
@media (min-width: 47.99876em) {
    .header-links:hover {
        color: var(--main-color);
    }

    .header-links:hover::before {
        position: absolute;
        top: 0;
        content: "";
        display: block;
        width: 100%;
        height: .2em;
        background: var(--main-color);
    }
}



/* Média query pour les appareils moyens (tablettes, inférieurs ou égaux à 1024px) */
@media (max-width: 64em) {

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Hebergements and Populaires sections */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 0.875em;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8125em;
    }

    .activites-cards .card img {
        height: 12.5em;
    }
}

/* Média query pour les petits appareils (téléphones, inférieurs à 768px) */
@media (max-width: 47.99875em) {
    .main-container {
        padding: 0;
    }

    /* HEADER */
    .header {
        flex-direction: column;
    }

    .header-navbox {
        width: 100%;
    }

    .header__logo {
        padding: 1.88em;
        justify-content: center;
    }


    .header-items {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        align-self: stretch;
        width: 100%;
        gap: 0;
    }

    .header-item {
        width: 100%;
        text-align: center;
    }

    .header-links {
        padding-top: 0;
        width: 100%;
    }

    .header-links:active {
        color: var(--main-color);

    }

    .header-links::before {
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: var(--main-bg-color);
    }

    .header-links:active::before {
        content: "";
        display: block;
        width: 100%;
        height: .2rem;
        background: var(--main-color);
        position: absolute;
        bottom: 0;
    }

    /* PRESENTATION */
    .hero {
        padding: 1.875em 1.25em 0 1.25em;
        margin-top: 0;
        margin-bottom: 0;
        align-self: stretch;
    }

    .hero-title {
        justify-content: center;
        align-items: center;
    }

    /* SEARCH BAR */
    .search-bar {
        display: flex;
        justify-content: center;
        padding: 1.875em 2em 0 2em;
        margin-bottom: 0;
        width: 100%;
    }

    .btn-search-bar span {
        display: none;
    }

    .btn-search-bar {
        border-radius: 1.5rem;
        padding: 0 .8rem;
        align-items: center;
        gap: 1rem;
        flex-shrink: 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-left: -1rem;
    }

    .fa-magnifying-glass {
        display: inline-block;
        color: white;
    }

    /* FILTERS */
    .filters {
        padding: 1.875em 2em 0 2em;
        margin-bottom: 0;
    }

    .filters-items {
        justify-content: space-between;
    }

    .filters-item {
        flex: 0 0 calc(50% - 1rem);
        display: flex;

        max-width: 50%;
        width: 50%;
        text-decoration: none;

    }

    /* INFOS */
    .infos {
        padding: 1.875em 2em 1.875em 2em;
        margin-bottom: 0;
    }

    /* Populaires */
    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

.populaires{
    border-radius: 0!important;
}

    /* Hebergements */
    .hebergements {
        background-color: white!important;
    }

    .hebergements-cards a {
        max-width: 100%;
        flex-basis: 100%;
    }

    .hebergements-cards img {
        object-position: center;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    /* activites */
    .activites-cards a {
        width: 100%;
        margin-right: 0;
    }

    .activites-cards {
        padding: 0 3rem;
    }

    .activites-title {
        padding-left: 3rem;
    }

    .footer {
        padding: 3rem;
    }

    .footer-menu-box {
        flex-direction: column;
        gap: 5rem;
    }

}

/* Média query pour les très petits appareils */
@media (max-width: 20.3125em) {
    .fa-magnifying-glass {
        display: inline-block;
        color: white;
        padding: .4em;
    }
}

/* Média query pour les appareils encore plus petits */
@media(max-width: 22.5625em){
    .filters-item{
        flex-direction: column;
    }
}